<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="/js/log.js" defer></script>
    </head>
    <body>
        <h1>회원가입</h1>
        <input id="id" type="text" placeholder="아이디"><br/>
        <button onclick="duplicateCheck();">중복확인</button>
        <input id="name" type="text" placeholder="성함"><br/>
        <input id="pw" type="password" placeholder="비밀번호"><br/>
        <input id="pwCf" type="password" placeholder="비밀번호 확인"><br/>
        <button onclick="join();">회원가입</button>
        <a href="/login">로그인하기</a>
    </body>
</html>